<?xml version="1.0"?>
<configuration>
	<components>
		<!-- Adds ReepayInitializationPipeline task into the Initialize pipeline -->
		<partial-component id="Initialize">
			<parameters>
				<tasks>
					<array>
						<item insert="last">${Initialize.ReepayInitializationPipelineTask}</item>
					</array>
				</tasks>
			</parameters>
		</partial-component>

		<!-- This is the configuration of the task which executes the ReepayInitialization pipeline -->
		<component id="Initialize.ReepayInitializationPipelineTask"
				service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.Initialization.InitializeArgs, Ucommerce.Pipelines]], Ucommerce"
				type="Kruso.Reepay.Extensions.Pipelines.Initialize.ReepayInitializationPipelineTask, Kruso.Reepay.Extensions">
		</component>
	</components>
</configuration>