<!--Place your components registration for your Ucommerce app in this folder.-->
<configuration>
  <components>
	  <component id="Reepay.Logger"
	   service="Kruso.Reepay.Extensions.Services.Interfaces.IReepayLogger`1, Kruso.Reepay.Extensions"
	   type="Kruso.Reepay.Extensions.Services.ReepayLogger`1, Kruso.Reepay.Extensions" />

	  <component id="ReepayGateway"
		service="Kruso.Reepay.Extensions.Services.Interfaces.IReepayGateway, Kruso.Reepay.Extensions"
		type="Kruso.Reepay.Extensions.Services.ReepayGateway, Kruso.Reepay.Extensions"/>

	  <component id="ReepayRepository"
		service="Kruso.Reepay.Extensions.Services.Interfaces.IReepayRepository, Kruso.Reepay.Extensions"
		type="Kruso.Reepay.Extensions.Services.ReepayRepository, Kruso.Reepay.Extensions"/>
	  
	  <component id="ReepaySubscriptionRepository"
		service="Kruso.Reepay.Extensions.Services.Interfaces.IReepaySubscriptionRepository, Kruso.Reepay.Extensions"
		type="Kruso.Reepay.Extensions.Services.ReepaySubscriptionRepository, Kruso.Reepay.Extensions"/>

	  <component id="ReepayPropertyNames"
		service="Kruso.Reepay.Extensions.Services.Interfaces.IReepayPropertyNames, Kruso.Reepay.Extensions"
		type="Kruso.Reepay.Extensions.Services.ReepayPropertyNames, Kruso.Reepay.Extensions"/>
  </components>
</configuration>